In [1]:
import pandas as pd
import numpy as np

In [ ]:
!wget -P data/ https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet
!wget -P data/ https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet

In [ ]:
!uv pip install pyarrow

In [ ]:
df = pd.read_parquet("../data/yellow_tripdata_2023-01.parquet")

# Q1

We'll use [the same NYC taxi dataset](https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page),
but instead of "**Green** Taxi Trip Records", we'll use "**Yellow** Taxi Trip Records".

Download the data for January and February 2023.

Read the data for January. How many columns are there?

In [3]:
df.shape

(3066766, 19)

# Q2

Now let's compute the `duration` variable. It should contain the duration of a ride in minutes. 

What's the standard deviation of the trips duration in January?

In [4]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [4]:
df['duration'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df['duration'] = df['duration'].apply(lambda td: td.total_seconds()/ 60)

In [6]:
df['duration'].std()

np.float64(42.59435124195457)

# Q3

Next, we need to check the distribution of the `duration` variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?

In [5]:
((df['duration']>=1) & (df['duration']<=60)).mean()

np.float64(0.9812202822125979)

In [6]:
df = df[(df['duration']>=1) & (df['duration']<=60)]

# Q4

Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model. 

* Turn the dataframe into a list of dictionaries (remember to re-cast the ids to strings - otherwise it will 
  label encode them)
* Fit a dictionary vectorizer 
* Get a feature matrix from it

What's the dimensionality of this matrix (number of columns)?

In [ ]:
from sklearn.feature_extraction import DictVectorizer

categorical = ['PULocationID', "DOLocationID"]

for col in categorical:
    df[col] = df[col].astype('string')
    # df.loc[:, col] = df[col].astype(str) # future warning

dv=DictVectorizer()

train_dict = df[categorical].to_dict(orient='records')

X_train = dv.fit_transform(train_dict)

In [10]:
X_train.shape

(3009173, 515)

# Q5

Now let's use the feature matrix from the previous step to train a model. 

* Train a plain linear regression model with default parameters, where duration is the response variable
* Calculate the RMSE of the model on the training data

What's the RMSE on train?

In [11]:
y_train = df['duration'].to_numpy()

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import root_mean_squared_error

model = LinearRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_train)

root_mean_squared_error(y_pred, y_train)

7.649262067128428

# Q6

Now let's apply this model to the validation dataset (February 2023). 

What's the RMSE on validation?

In [ ]:
df2 = pd.read_parquet('../data/yellow_tripdata_2023-02.parquet')

df2['duration'] = df2['tpep_dropoff_datetime'] - df2['tpep_pickup_datetime']
df2['duration'] = df2['duration'].apply(lambda td: td.total_seconds()/ 60)

df2 = df2[(df2['duration']>=1) & (df2['duration']<=60)]

categorical = ['PULocationID', "DOLocationID"]

for col in categorical:
    df2[col] = df2[col].astype(str)

val_dict = df2[categorical].to_dict(orient='records')

X_val = dv.transform(val_dict)

y_val = df2['duration'].to_numpy()

y_val_pred = model.predict(X_val)

root_mean_squared_error(y_val, y_val_pred)

7.811816770688648